.body-usable-container {
    height: calc(100% - 62px);
    overflow-y: auto;
    padding: 50px;
    .aside-select {
        @include FJCEAIC;
        .small {
            font-size: 12px;
        }
        .search-wrapper {
            display: flex;
            margin: 0 10px;
            .input-value {
                border-radius: 25px 0 0 25px;
                padding: 6px 22px 8px;
                background: white;
                border: none;
                font-size: 12px;
                @include FAIC;
                font-weight: bold;
            }
            .search-button {
                border-radius: 0 25px 25px 0;
                background: #f1880e;
                border: none;
                @include FJCCAIC;
                padding-right: 8px;
                svg {
                    width: 18px;
                    height: 18px;
                    stroke: white;
                }
            }
        }
    }
    .dashboard-chart {
        margin-top: 40px;
        .card-container {
            color: white;
            padding: 20px 35px;
            height: 130px;
            display: flex;
            justify-content: space-between;
            &.orange {
                background-color: #e8a762;
            }
            &.blue {
                background-color: #6d95bd;
            }
            &.black {
                background-color: #646464;
            }
        }
    }
    .custom-filter-dropdown {
        position: relative;
        .com-select {
            position: relative;
            cursor: pointer;
            &::before {
                position: absolute;
                content: "v";
                content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' style='fill: rgba(0, 0, 0, 0.3);transform: ;msFilter:;'%3E%3Cpath d='M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z'%3E%3C/path%3E%3C/svg%3E");
                left: 85%;
            }
        }
        .dropdown-content {
            left: 0;
            top: 115%;
            position: absolute;
            z-index: 2;
            padding: 20px;
            background-color: white;
            width: 100%;
            border-radius: 15px;
            box-shadow: 0px 1px 14px -2px rgba(0, 0, 0, 0.32);
            -webkit-box-shadow: 0px 1px 14px -2px rgba(0, 0, 0, 0.32);
            -moz-box-shadow: 0px 1px 14px -2px rgba(0, 0, 0, 0.32);
            .dropdown-input {
                padding: 6px 10px;
                margin: 5px 0;
                width: 100%;
                &:focus-visible {
                    outline: none;
                }
            }
            .com-button {
                display: flex;
                margin-left: auto;
                margin-top: 10px;
            }
        }
    }
}
@media (max-width: 992px) {
    .body-usable-container {
        padding: 20px;
    }
}
@media (max-width: 768px) {
    .custom-filter-dropdown {
        justify-content: start;
    }
}
