.commmon-input-container {
    margin-bottom: 1rem;
    width: 100%;
    height: 45px;
    border-radius: 10px;
    background: #fff;
    border: 1px solid #e1e1e1;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.16);
}
.bg-block {
    background-color: #000;
    color: #FFF;
}
.bg-theme{
    background-color: #F1880E;
    color: #FFF;
}
.custom-container{
height: calc(100% - 62px);
overflow-y: auto;
padding: 50px;
}
@media (max-width: 992px){
.custom-container {
    padding: 20px;
    }
} 


