.header-container {
    padding: 5px 0;
    height: 108px;
    position: relative;
    box-shadow: 0px 1px 14px -2px rgba(0, 0, 0, 0.32);
    -webkit-box-shadow: 0px 1px 14px -2px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 0px 1px 14px -2px rgba(0, 0, 0, 0.32);
    .header-container-wrapper {
        .logo-container {
        }
        .header-search-input {
            padding: 0 2rem 0 2rem;
            width: 100%;
            height: 50px;
            border-radius: 25px;
            border: none;
            background-color: #f5f5f5;

            background-repeat: no-repeat;
            background-size: 25px;
            background-position: 15px;
            padding: 0 2rem 0 3.5rem;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' style='fill: %23B9B9B9;transform: ;msFilter:;'%3E%3Cpath d='M19.023 16.977a35.13 35.13 0 0 1-1.367-1.384c-.372-.378-.596-.653-.596-.653l-2.8-1.337A6.962 6.962 0 0 0 16 9c0-3.859-3.14-7-7-7S2 5.141 2 9s3.14 7 7 7c1.763 0 3.37-.66 4.603-1.739l1.337 2.8s.275.224.653.596c.387.363.896.854 1.384 1.367l1.358 1.392.604.646 2.121-2.121-.646-.604c-.379-.372-.885-.866-1.391-1.36zM9 14c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z'%3E%3C/path%3E%3C/svg%3E");

            &:focus-visible {
                outline: none;
            }
        }
        .header-profile-container {
            @include FJCEAIC;
            svg {
                fill: #b9b9b9;
                stroke: #b9b9b9;
            }
            .name-container {
                @include FJCEAIC;
                margin-left: 15px;
                position: relative;
                cursor: pointer;
                h6 {
                    color: #b9b9b9;
                    margin: 0;
                }
                .profile-dropdown {
                    position: absolute;
                    top: 110%;
                    width: 100%;
                    box-shadow: 0px 1px 14px -2px rgba(0, 0, 0, 0.32);
                    -webkit-box-shadow: 0px 1px 14px -2px rgba(0, 0, 0, 0.32);
                    -moz-box-shadow: 0px 1px 14px -2px rgba(0, 0, 0, 0.32);
                    left: 0;
                    padding: 15px;
                    background-color: white;
                    border-radius: 8px;
                }
            }
        }
    }
}
@media (max-width: 992px) {
    .header-container {
        height: 75px;
        .logo-container {
            img {
                height: 65px;
            }
        }
        .name-container {
            img {
                height: 50px;
                width: 50px;
            }
        }
    }
}
